<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Informations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .img-thumbnail {
            border-radius: 50%!important;
            width: 150px;
            height: 150px;
            margin-bottom: 20px;
        }
    </style>

    <!-- <script src="https://{{ url_for('static', filename='scripts/informacoes.js') }}"></script> -->

</head>

<body>
    <div style="clear:both;">
        <nav class="navbar navbar-light" style="background-color: #ADD8E6;">
            <span class="navbar-text ">
                   <h4 class="h-light">Fundus images classification</h4>
                </span>
            <a>
                <button class="btn btn-outline-info" onclick="novaAnalise()" type="button">New Prediction</button>
            </a>
        </nav>
        <div id="wrapper">


            <section id="intro" class="intro">
                <div class="intro-content pt-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="wow fadeInUp animated" data-wow-offset="0" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                                    <h4 class="h-light">
                                        This project has the objective to analyze fundus images and classify them in two types: Positive or negative for Diabetic Retinopathy.
                                    </h4>
                                </div>

                            </div>
                            <div class="col-lg-6 text-center">
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <hr>

            <section id="boxes" class="home-section paddingtop-80 mb-4">

                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <div class="wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                <div class="box text-center">
                                    <div class="container box">
                                        <img src="{{ url_for('static', filename='images/diabetes-icone-1.jpg')}}" class="img-thumbnail rounded">
                                    </div>
                                    <h4 class="h-bold">Growing number of carriers</h4>
                                    <p class="text-dark">
                                        Diabetes affects about half a million people worldwide. The perspective is that by 2045 about 700 million people will have this condition.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                <div class="box text-center">
                                    <div class="container box">
                                        <img src="{{ url_for('static', filename='images/retinopatia-01.jpg')}}" class="img-thumbnail rounded">
                                    </div>
                                    <h4 class="h-bold">Primary cause of blindness in people aged between 20 and 74 years.</h4>
                                    <p class="text-dark">
                                        According to the Brazilian Diabetes Society, Diabetic Retinopathy is the leading cause of blindness in people aged between 20 and 74 years, 
                                        in addition to being the most common diabetes-related pathology.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                <div class="box text-center">

                                    <div class="container box">
                                        <img src="{{ url_for('static', filename='images/retinopatia-02.jpg')}}" class="img-thumbnail rounded">
                                    </div>
                                    <h4 class="h-bold">Presence of Retinopathy</h4>
                                    <p class="text-dark">
                                        There are about 2 million people in Brazil with some degree of Retinopathy and it's growth is related to the growing number of diabetics.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <figure class="col-md-6 col-sm-12">
                        <image src="{{ url_for('static', filename='images/infografico_retinopatia_revista_saude.jpg')}}" class="rounded mx-auto d-block img-fluid" alt="Infográfico retinopatia diabética" />
                            <figcaption class="figure-caption text-center">Source: Infográfico retinopatia diabética – revista Saúde.</figcaption>
                    </figure>
                </div>

            </section>

        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js "></script>
        <!-- <script src="https://{{ url_for('static', filename='scripts/informacoes.js') }}"></script> -->
        <script type="text/javascript" src="/static/scripts/informacoes.js"></script>
</body>

</html>